.extended-info {
  display: none;

  &__title {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 36px;
    max-width: 200px;
  }

  &__paragraph {
    color: #283645;
    margin: 10px 0;
    max-width: 300px;
  }

  &__link {
    color: #d22856;
  }
}

@media (min-width: 660px) {
  .extended-info {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 60px 20px 55px;
  }

  .extended-info__text-wrapper {
    width: 50%;
  }

  .extended-info__figure {
    width: 50%;
    line-height: 0;
    text-align: center;
    position: relative;
  }

  .extended-info__img {
    margin-left: -20px;
    width: 238px;
    height: 276px;
  }

  .extended-info__figure::after {
    content: "24";
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 96px;
    line-height: 150px;
    color: #d22856;
    text-align: center;
    padding-top: 7px;
    width: 202px;
    height: 202px;
    background-color: white;
    box-sizing: border-box;
    border: 13px solid #d22856;
    position: absolute;
    bottom: 19px;
    left: 50%;
    margin-left: -111px;
    border-radius: 50%;
  }

  .extended-info__img path {
    fill: #dedede;
  }
}

@media (min-width: 960px) {
  .extended-info {
    background-color: #f2f2f2;
    justify-content: space-between;
    padding: 25px $sidepadding 65px;
  }

  .extended-info__text-wrapper {
    width: calc((100% - 40px) / 3 * 2 + 20px - 70px);
  }

  .extended-info__figure {
    width: calc((100% - 40px) / 3);
    box-sizing: border-box;
    text-align: center;
  }

  .extended-info__paragraph {
    max-width: 95%;
    margin: 20px 0 30px;
  }

  .extended-info__title {
    max-width: 100%;
  }

  .extended-info__img {
    margin-left: 0;
    width: 298px;
    height: 345px;
  }

  .extended-info__figure::after {
    font-size: 120px;
    line-height: 185px;
    padding-top: 12px;
    width: 253px;
    height: 253px;
    border-width: 17px;
    bottom: 23px;
    left: 50%;
    margin-left: -126.5px;
    border-radius: 50%;
  }
}
