.extended-info {
  display: none;

  &__title {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 36px;
    max-width: 200px;
  }

  &__paragraph {
    color: #283645;
    margin: 10px 0;
    max-width: 300px;
  }

  &__link {
    color: #d22856;
  }
}

@media (min-width: 660px) {
  .extended-info {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 60px 20px 55px;
  }

  .extended-info__text-wrapper {
    width: 50%;
  }

  .extended-info__figure {
    width: 50%;
    line-height: 0;
    text-align: center;
  }

  .extended-info__img {
    margin-left: -20px;
  }
}

@media (min-width: 960px) {
  .extended-info {
    background-color: #f2f2f2;
    justify-content: space-between;
    padding: 25px $sidepadding 65px;
  }

  .extended-info__text-wrapper {
    width: calc((100% - 40px) / 3 * 2 + 20px - 70px);
  }

  .extended-info__figure {
    width: calc((100% - 40px) / 3);
    box-sizing: border-box;
    background-color: #cfcfcf;
    text-align: center;
  }

  .extended-info__paragraph {
    max-width: 95%;
    margin: 20px 0 30px;
  }

  .extended-info__title {
    max-width: 100%;
  }

  .extended-info__img {
    margin-left: 0;
    width: 297px;
    height: 345px;
  }
}
