.features {
  background-color: #f2f2f2;
  text-align: center;
  padding: 90px 20px 0;
  position: relative;
  z-index: 1;
}

.features__item {
  margin: 0 auto 37px;
  max-width: 70%;

  &:last-child {
    margin-bottom: 44px;
  }
}

.features__img-wrapper:first-child,
.features__img-wrapper:nth-child(2) {
  display: none;
}

@media (min-width: 660px) {
  .features {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 0 20px;
  }

  .features__list {
    order: 2;
    width: 50%;
    padding: 75px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
  }

  .features__imgs {
    position: relative;
    z-index: 5;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .features__img-wrapper {
    text-align: center;
    width: 100%;
    line-height: 0;

    .features__img {
      margin-left: -20px;
    }
  }

  .features__item {
    margin: 0 0 30px;
    max-width: 100%;
  }

  .features__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 960px) {
  .features {
    text-align: center;
    flex-direction: column;
    padding: 0 $sidepadding;
  }

  .features__list {
    order: 2;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    margin-top: 0;
  }

  .features__item {
    width: calc((100% - 40px) / 3);
  }

  .features__img-wrapper {
    width: calc((100% - 40px) / 3);
    height: 305px;
    overflow: hidden;
    align-items: flex-start;

    .features__img {
      margin-left: 0;
    }
  }

  .features__img-wrapper:first-child,
  .features__img-wrapper:nth-child(2) {
    display: block;
  }

  .features__imgs {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
