.features {
  background-color: #f2f2f2;
  text-align: center;
  padding: 55px 20px 0;
  position: relative;
  z-index: 1;
}

.features__item {
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 44px;
  }
}
