.hero {
  background-color: #1d2631;
  color: white;
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-align: center;
  margin-top: -70px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &__download-wrapper {
    padding: 28px 20px;
  }

  &__about-platforms {
    max-width: 250px;
    margin: auto;
  }

  &__platforms-list {
    margin: 30px auto;
    display: flex;
    font-size: 0;
    justify-content: space-between;
    width: 210px;
    align-items: center;
  }

  h1 {
    margin-bottom: 30px;
  }

  button {
    max-width: 350px;
    cursor: pointer;
  }

  button:hover {
    background-color: white;
    color: #d22856;
  }

  button:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.hero__wrapper--inside h1 {
  margin-top: 100px;
  padding: 0 25%;
}

.hero__download-wrapper h1 {
  display: none;
}

.hero__wrapper {
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") top center no-repeat;
  background-size: cover;
  min-height: 240px;
  display: flex;
  justify-content: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--on-index {
    min-height: 460px;
  }
}

.hero__figure {
  align-self: flex-end;
  width: 258px;
  margin-left: -45px;
  line-height: 0;
}

.hero__platform-link {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
}

.hero__platform-link--ios {
  background-image: url("../img/logo-apple.svg");
  height: 57px;
  width: 47px;
}

.hero__platform-link--android {
  background-image: url("../img/logo-android.svg");
  width: 43px;
  height: 48px;
}

.hero__platform-link--windows {
  background-image: url("../img/logo-microsoft.svg");
  width: 44px;
  height: 42px;
}

@media (min-width: 660px) {
  .hero {
    margin-top: -110px;
    font-size: 18px;
  }

  .hero__platforms-list {
    margin: 45px auto 35px;
  }

  .hero__wrapper--inside {
    max-height: 440px;
  }

  .hero__wrapper--inside h1 {
    margin-top: 185px;
    width: 100%;
  }

  .hero__wrapper {
    height: 730px;
    justify-content: flex-end;
    padding: 0 20px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .hero__download-wrapper {
    width: calc((100% - 60px) / 2);
    display: flex;
    align-items: center;
    min-height: 615px;
    margin-top: -615px;
    padding: 0 10px 0 20px;
  }

  .hero__download-wrapper h1 {
    display: block;
  }

  .hero__figure {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    width: calc(100% / 3 * 2);
  }


  .hero__figure img {
    margin-right: -40px;
  }
}

@media (min-width: 960px) {
  .hero__wrapper {
    height: 850px;
    padding: 0 $sidepadding;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .hero__wrapper--inside {
    max-height: 395px;
  }

  .hero__download-wrapper {
    max-width: 300px;
    min-height: 740px;
    margin-top: -740px;
    padding-left: $sidepadding;
  }

  .hero__figure {
    align-self: flex-end;
    width: calc(((100% - 40px) / 3) * 2);
  }

  .hero__figure img {
    margin-right: -130px;
  }

  .hero h1 {
    margin-bottom: 50px;
  }

  .hero__platforms-list {
    margin: 65px auto 50px;
  }

  .hero__wrapper--inside h1 {
    margin: 175px auto 0;
    padding: 0;
    max-width: 750px;
  }
}
