.intro {
  color: #283645;
  text-align: center;
  background-color: white;
  padding: 43px 25% 50px;

  p {
    margin-bottom: 25px;
  }
}

@media (min-width: 660px) {
  .intro {
    padding: 50px 10% 60px;
  }

  .intro p:last-child {
    padding: 0 15% 0;
  }

  .intro p {
    margin-bottom: 0;
  }
}

@media (min-width: 960px) {
  .intro {
    padding: 50px $sidepadding 60px;
  }

  .intro p {
    padding: 0 10%;
  }
}
