.modal {
  position: fixed;
  top: 50%;
  background-color: white;
  width: 100%;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  padding: 45px 20px 50px;
  z-index: 100;
  text-align: center;
  box-sizing: border-box;
  line-height: 24px;
  overflow: hidden;

  &__button {
    margin: 0;
  }

  &__title {
    font-size: 18px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    color: black;
    margin-bottom: 30px;
  }

  &__paragraph {
    font-size: 14px;
    color: #283645;
    max-width: 400px;
    margin: auto;
    margin-bottom: 40px;
  }

  &--hidden {
    display: none;
  }
}

.modal--done {
  padding: 45px 0 0;
  margin-top: calc(-374px / 2);

  .modal__button-wrapper {
    background-color: #f2f2f2;
    padding: 50px 20px;
  }
}

.modal--error {
  margin-top: calc(-300px / 2);
}

@media (min-width: 660px) {
  .modal {
    width: 460px;
    border-radius: 3px;
    left: 50%;
    margin-left: -230px;
    padding: 40px 80px 50px;

    .modal__title {
      font-size: 30px;
      line-height: 40px;
      max-width: 350px;
      margin: 0 auto 30px;
    }

    .modal__paragraph {
      font-size: 18px;
      max-width: 350px;
    }
  }

  .modal--done {
    padding: 40px 0 0;
    margin-top: calc(-450px / 2);

    .modal__button-wrapper {
      background-color: #f2f2f2;
      padding: 50px 80px;
    }
  }


  .modal--error {
    margin-top: calc(-375px / 2);
  }
}

@media (min-width: 960px) {
  .modal--done {
    width: 780px;
    padding: 40px 0 0;
    margin-top: calc(-385px / 2);
    margin-left: calc(-780px / 2);

    .modal__button-wrapper {
      background-color: #f2f2f2;
      padding: 50px 160px;
    }

    .modal__title,
    .modal__paragraph,
    .modal__button {
      width: 460px;
      max-width: 460px;
    }
  }
}
