.page-header {
  background-color: #283645;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;

  &--compact {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 20px 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }

  &__logo {
    line-height: 0;
    font-size: 0;
    width: 75px;
    height: 23px;
    background: transparent url("../img/logo-pink-white-mobile.svg") center center no-repeat;
    background-size: 100% 100%;
  }

  &__logo:hover {
    background-image: url("../img/logo-pink-white-mobile-red.svg");
  }

  &__logo:active {
    background-image: url("../img/logo-pink-white-mobile.svg");
    opacity: 0.3;
  }

  &__list {
    text-align: center;
  }

  &__list-item a {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 20px 0;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
  }

  a {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    color: white;
    text-decoration: none;
  }
}

.page-header__toggle {
  border: none;
  font-size: 0;
  width: 50px;
  height: 25px;
  background: transparent url("../img/icon-menu-burger.svg") no-repeat center center;
  cursor: pointer;
}

.page-header__toggle:hover {
  background-image: url("../img/icon-menu-burger-red.svg");
}

.page-header__toggle--to-close {
  background-image: url("../img/icon-menu-cross.svg");
  background-position-x: right;
}

.page-header__toggle--to-close:hover {
  background-image: url("../img/icon-menu-cross-red.svg");
}

.page-header__toggle:active {
  opacity: 0.3;
}

.page-header--compact .page-header__menu {
  display: none;
}

.page-header--compact .page-header__wrapper {
  border: none;
}

.page-header__list-item a[href]:hover {
  color: #d22856;
}

.page-header__list-item a[href]:active {
  color: rgba(210, 40, 86, 0.3);
}

@media (min-width: 660px) {
  .page-header__wrapper {
    height: 110px;
    box-sizing: border-box;
  }

  .page-header__logo {
    margin-top: -15px;
    background-image: url("../img/logo-pink-white-tablet.svg");
    width: 147px;
    height: 41px;
  }

  .page-header__logo:hover {
    background-image: url("../img/logo-pink-white-tablet-red.svg");
  }

  .page-header__logo:active {
    background-image: url("../img/logo-pink-white-tablet.svg");
  }
}

@media (min-width: 960px) {
  .page-header {
    padding: 0 $sidepadding;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__wrapper {
    padding: 0;
    border: none;
    height: auto;
  }

  .page-header__logo {
    background-image: url("../img/logo-pink-white-desktop.svg");
  }

  .page-header__logo:hover {
    background-image: url("../img/logo-pink-white-desktop-red.svg");
  }

  .page-header__logo:active {
    background-image: url("../img/logo-pink-white-desktop.svg");
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    display: flex;
  }

  .page-header__list-item a {
    border: none;
    text-transform: none;
    font-family: "Open Sans", "Arial", sans-serif;
    margin-left: 80px;
    padding: 39px 0 41px;
  }

  .page-header--compact .page-header__menu {
    display: block;
  }

  .page-header__list-item a[href]:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .page-header__list-item--active {
    position: relative;
  }

  .page-header__list-item--active::after {
    position: absolute;
    content: " ";
    height: 2px;
    background-color: white;
    bottom: 33px;
    left: 80px;
    right: 0;
  }
}
