.page-content {
  &__lead {
    line-height: 30px;
    color: #283645;
    text-align: center;
    padding: 45px 15% 50px;
    margin: auto;
  }
}

@media (min-width: 660px) {
  .page-content__lead {
    padding: 95px 20%;
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .page-content__lead {
    margin: 0 auto;
    padding: 90px 0;
    font-size: 18px;
    max-width: 600px;
  }
}
