.pricing {
  padding: 95px 0 50px;
  background-color: #f2f2f2;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  &__tariffs {
    border: 2px solid #e5e5e5;
    text-transform: uppercase;
    border-collapse: collapse;
    border-top: none;
    width: 280%;
    margin-left: -90%;
    background-color: white;
    margin-bottom: 45px;
  }

  &__tariff {
    width: (100%/3);
    border: 2px solid #e5e5e5;
    border-top: none;
    background-color: #283645;
    padding: 16px 0 20px;
    color: white;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    border-bottom-color: #283645;
  }

  &__tariff-feature {
    width: (100%/3);
    border: 2px solid #e5e5e5;
    text-align: left;
    padding: 15px 20px 14px;
    color: #283645;
    line-height: 30px;
    background: white url("../img/icon-yes-table.svg") no-repeat 96% center;
    background-size: 32px;
  }

  &__tariff-price {
    display: block;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    margin-top: 2px;
  }
}

.pricing__tariff--full {
  display: none;
}

.pricing__tariff--hit {
  position: relative;

  &::before {
    position: absolute;
    content: "хит";
    text-transform: uppercase;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    color: white;
    transform: rotate(-45deg);
    left: 12px;
    top: 11px;
    z-index: 3;
    font-weight: normal;
    font-size: 14px;
  }

  &::after {
    position: absolute;
    content: " ";
    width: 74px;
    height: 73px;
    background: transparent url("../img/bg-hit.svg") center center no-repeat;
    background-size: 100% 100%;
    left: 0;
    top: 0;
  }
}

.pricing__tariff:nth-child(2) {
  border-left-color: #283645;
}

.pricing__tariff:nth-child(4) {
  border-right-color: #283645;
}

.pricing__row--first {
  .pricing__tariff-feature {
    border-top: none;
  }
}

.pricing__tariff-feature--disabled {
  background-image: url("../img/icon-no-my.svg");
  background-size: 25px;
}

@media (min-width: 660px) {
  .pricing {
    padding: 100px 20px 70px;
  }

  .pricing__tariffs {
    border: none;
    width: 100%;
    margin: 0;
    text-transform: none;
    font-size: 0;
  }

  .pricing__tariff {
    padding: 15px 0 10px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .pricing__tariff-title {
    font-size: 16px;
    margin: 0;
  }

  .pricing__tariff-price {
    font-size: 18px;
    margin: 0;
  }

  .pricing__tariff-feature:first-child {
    font-size: 14px;
    background-image: none;
  }

  .pricing__tariff,
  .pricing__tariff-feature {
    width: (100%/4);
  }

  .pricing__tariff-feature {
    padding: 7px 15px 8px;
    background: white url("../img/icon-yes-table.svg") no-repeat center center;
    background-size: 32px;
  }

  .pricing__tariff-feature--disabled {
    background-image: url("../img/icon-no-my.svg");
    background-size: 25px;
  }

  .pricing__tariff--transparent {
    border: none;
    border-bottom: 2px solid #e5e5e5;
    font-size: 0;
    background-color: #f2f2f2;
  }

  .pricing__tariff--full {
    display: table-cell;
    font-size: 18px;
  }

  .pricing__tariff--hit::after {
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .pricing__tariff--hit::before {
    top: 11px;
    left: 11px;
  }
}

@media (min-width: 960px) {
  .pricing {
    padding: 150px $sidepadding 95px;
  }

  .pricing__tariff-feature:first-child {
    font-size: 18px;
    line-height: 30px;
    padding: 16px 23px;
  }

  .pricing__tariff-title {
    font-size: 18px;
    line-height: 30px;
  }

  .pricing__tariff-price {
    font-size: 24px;
    line-height: 30px;
  }

  .pricing__tariff {
    padding-bottom: 20px;
  }

  .pricing__tariff--hit::before {
      left: 9px;
      top: 14px;
  }
}
