.pricing {
  padding: 75px 0 50px;
  background-color: #f2f2f2;
  text-align: center;
  overflow: hidden;

  &__tariffs {
    border: 2px solid #e5e5e5;
    text-transform: uppercase;
    border-collapse: collapse;
    border-top: none;
    width: 280%;
    margin-left: -90%;
    background-color: white;
    margin-bottom: 40px;
  }

  &__tariff {
    width: (100%/3);
    border: 2px solid #e5e5e5;
    border-bottom: none;
    border-top: none;
    background-color: #283645;
    padding: 16px 0 20px;
    color: white;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
  }

  &__tariff-feature {
    width: (100%/3);
    border: 2px solid #e5e5e5;
    text-align: left;
    padding: 22px 20px 20px;
    color: #283645;
    line-height: 30px;
  }

  &__tariff-price {
    display: block;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    margin-top: 2px;
  }
}

.pricing__tariff--full {
  display: none;
}

.pricing__first-row {
  .pricing__tariff-feature {
    border-top: none;
  }
}

@media (min-width: 660px) {
  .pricing {
    padding: 72px 20px 50px;
  }

  .pricing__tariffs {
    border: none;
    width: 100%;
    margin: 0;
    text-transform: none;
    font-size: 0;
  }

  .pricing__tariff,
  .pricing__tariff-feature {
    width: (100%/4);
  }

  .pricing__tariff--transparent {
    border: none;
    border-bottom: 2px solid #e5e5e5;
    font-size: 0;
    background-color: #f2f2f2;
  }

  .pricing__tariff--full {
    display: table-cell;
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .pricing {
    padding: 72px $sidepadding 50px;
  }
}
