.slider {
  &__dots {
    width: 56px;
    display: flex;
    justify-content: space-between;
    font-size: 0;
  }

  &__dot {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
  }

  &__dot:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__dot:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__dot--active {
    box-shadow: 0 0 0 3px #283645;
    background-color: white;
  }

  &__arrow {
    min-width: 60px;
    font-size: 0;
    box-sizing: border-box;
    display: none;
    opacity: 0.5;
    cursor: pointer;
  }

  &__arrow:hover {
    opacity: 1;
  }

  &__arrow:active {
    opacity: calc(1 / 6);
  }
}

@media (min-width: 660px) {
  .slider__dots--no-tablet {
    display: none;
  }
}

@media (min-width: 960px) {
  .slider__dots {
    display: none;
  }

  .slider__arrow {
    display: flex;
    align-items: flex-start;
    padding-top: 140px;
    justify-content: flex-start;
  }

  .slider__arrow--next {
    justify-content: flex-end;
  }
}
