.testimonials {
  position: relative;
  z-index: 2;
  margin-top: -45px;
  background-color: white;
  text-align: center;
  padding: 45px 20px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__who {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  &__text {
    line-height: 30px;
    color: #283645;
  }

  &__item {
    margin: 0 5% 35px;
  }

  &__info {
    display: none;
  }

  &__quote {
    line-height: 0;
    margin-bottom: 50px;
    display: none;
  }

  &__quote-img {
    opacity: 0.3;
  }
}

@media (min-width: 660px) {
  .testimonials {
    margin-top: 0;
    padding-bottom: 20px;
  }

  .testimonials__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
  }

  .testimonials__who {
    order: 1;
    font-size: 20px;
    margin-top: 35px;
  }

  .testimonials__text {
    font-size: 18px;
  }

  .testimonials__info {
    display: block;
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #283645;
    margin-top: 5px;
  }
}

@media (min-width: 960px) {
  .testimonials {
    padding: 75px $sidepadding 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .testimonials__item {
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonials__who {
    margin-bottom: 0;
  }

  .testimonials__quote {
    display: block;
  }

  .testimonials__info {
    line-height: 30px;
    font-size: 18px;
    margin-top: 0;
  }

  .testimonials__name {
    line-height: 30px;
    font-size: 24px;
  }
}

.testimonials__item--overflowed {
  display: none;
}
